[submodule "Liquid/vendor/spdlog"]
	path = Liquid/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Liquid/vendor/GLFW"]
	path = Liquid/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Liquid/vendor/imgui"]
	path = Liquid/vendor/imgui
	url = https://github.com/TheCherno/imgui
